:root {
  --first-color: #212121;
  --second-color: #757575;
  --third-color: #ffffff;
  --accent-color: #2196f3;
  --footer-mail-tel-color: rgba(255, 255, 255, 0.6);
  --background-color: #2f303a;
  --service-button: #188ce8;
  --background-command: #f5f4fa;
  --border-bottom: #ececec;
  --color: rgba(236, 236, 236, 1);
  --photo__border: #eeeeee;
  --border-client: #afb1b8;
}
